@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.4rem;
  color: #181818;
  background-color: #fff;
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
}
/* 숨김콘텐츠 */
.a11y-hidden{
  background-color: yellow;
  display: none;
  position: absolute;
  width:1px;
  height: 1px;
  overflow: hidden;
  margin:-1px;
  clip-path: polygon( 0 0,0 0,0 0,);
}
/* 링크 스타일 */
a {
  text-decoration: none;
  color: inherit;
}
/* 레이아웃 */
.container {
  background-color: #ccc;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.header,
.visual,
.main,
.slogan,
.footer {
  width: 940px;
}
/* 헤더 */
.header {
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 0 30px 0 30px;
  position: relative;
}
/* 로고 */
.logo {
  position: absolute;
  top: 26px;
  left: 65px;
}
/* 멤버링크 */
.member {
  list-style: none;
  padding-left: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: -8px;
  font-size: 0;
  text-align: right;
}

.member li, .member a {
  display: inline-block;
}
.member li {
  font-size: 1.4rem;
}
.member a {
  text-transform: uppercase;
  padding: 2px 8px 2px 3px;
}
/* 메인메뉴 */
.menu{
  background:#fc6b28 linear-gradient(to bottom, #fcab32 0%,#fc6b28 35%,#fc6b28 70%,#fcab32 100%);
  padding: 0;
  list-style: none ;
  margin: 0 0 50px 0;
  padding-left:225px ;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px ;

}
.menu::after{
   content:"";
   display:block;
   clear:both;
}
.menu-item{
  float: left;

}
.btn-menu{
  background-color:transparent;
  font-size:1.6rem;
  font-weight: 700;
  color:#fff;
  padding:15px 20px;
  border:0;
  border-left: 2px solid rgba(255, 255, 255,0.85);
  cursor: crosshair;
  text-shadow: 1px 0px 0 #000, 0px 1px 0 #000 -1px 0px 0 #000, 0px -1px 0 #000;
  
}
.sub-menu{
  background-color: pink;
  position: absolute;
  display: none;

}
.visual {
  background-color: lime;
  height: 120px;
}
/* 메인 콘텐츠 */
.main {
  background-color: blue;
  min-height: 450px;
  padding: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.group1 {
  background-color: pink;
  width: 250px;
}
.group2 {
  background-color: lightgreen;
  width: 380px;
}
.group3 {
  background-color: coral;
  width: 190px;
}
.clearfix {
  clear: both;
}
.slogan {
  background-color: orange;
}
.footer-bg {
  background-color: purple;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.footer {
  background-color: skyblue;
}
